<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Users</h1>
  </div>
</div>  
<% if @users.count > 0  %>
  <% @users.each_slice(2) do |users| %>
  	<div class="row">
  		<% users.each do |user| %>
    		<div class="col-md-6">
          <%= link_to profile_path(user) do  %>
    				<%= image_tag user.profile.avatar.url(:medium), height: '126', width: '185' %> <br>
          <% end %>  
    			<h4><%= link_to user.profile.full_name, profile_path(user) %></h2>
    		</div>				 
  		<% end %>
  	</div>
  <% end %>
<% end %>
<%= link_to "Geri", root_path, class: "btn btn-warning" %> <br>
